/*
** Plumi homepage style sheet - Public-facing Elements
** Style sheet documentation can be found at http://plone.org/documentation
*/

/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

/** This stylesheet is to be used only on plumi homepage
*** It includes easily overridable styles. Customize it at your own
*** fantasy !
**/


.featured-block {
  clear: both;
  padding: 0.3em 0;
}

.featured-block dd {
  margin-left: 1em;
}

.featuredItem {
  clear: both;
  padding: 0.5em;
}

.featured-video-image,
.featured-item-image {
  float: right;
  margin: 0.1em;
  padding: 2px;
  border: 1px solid #ccc;
}

.featured-video-duration {
  font-size: 90%;
}

.featured-video-duration span {
  color: #666;
}

.featuredItemDetailsPosted {
  display: block;
}

dt.featuredHeader {
  color: black;
  border-width: 0 0 1px 0;
  border-color: #9ba351;
  border-style: solid;
  font-size: 120%;
  margin-bottom: 0.5em;
}

dt.featuredHeader .featuredItemDetails,
dt.featuredHeader #featuredVideoTitle {
  color: #414900;
}

dt.featuredHeader a {
  color: black;
  text-decoration: none;
}

span.featured-read-more {
  text-align: right;
  display: block;
}

a#featured-video-more {
  color: #666;
  border: 0;
  padding-right: 0.2em;
  padding-left: 16px;
  background: transparent url(&dtml-portal_url;/link_ico.gif) left 50% no-repeat;
}

#featured-item {
  padding-top: 0;
}

#featured-item .plumi-props-listing {
  padding-bottom: 0 !important;
  border: 0 !important;
}

.featuredFooter a:visited,
.featuredFooter a {
  background: transparent url(&dtml-portal_url;/tiny_video_icon.gif) 5px 50% no-repeat;
  color: #444 !important;
  border: 1px solid #ddd !important;
  padding: 0.3em 0.4em 0.3em 22px;
  font-size: 90%;
  background-color: white;
  font-weight: bold;
}

.featuredFooter a:hover {
  background-color: #f2f2f2 !important;
}

/* </dtml-with> */